.navbar-brand img {
    height: 50px;
}
.carousel-item {
  height: auto !important;
}
.carousel-item video {
    width: 100%;
}
a.nav-link {
    font-family: 'Fjalla One',
    sans-serif;
}

.marketing h2 {
    margin-top: 1rem; 
}

.marketing img {
    width: 225px;
    height: 225px;
}

#pixlee_container {
    width: 100%;
}

.featurette-divider.gallery {
    margin-bottom: 2rem;
}
.featurette-heading {
    margin-bottom: 2rem;
}
.social-media img {
    width: 35px;
}

.container.testimonials {
    margin-top: 7rem;
}
.container.training {
  margin-top: 7rem;
}

.container.testimonials h2 {
  margin-bottom: 3rem;
}

.container.testimonials blockquote {
    font-family: 'Hepta Slab',serif;
}
.container.testimonials footer.blockquote-footer {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

hr.testimonials {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blockquote-footer {
    margin-top: 1rem;
    font-size: 18px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        align-items: center;
        justify-content: center;
    }

    .navbar-nav {
        margin-left: -105px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}